{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container section">
  <fieldset class="white z-depth-2 auth_all">
  <legend class="blue-grey lighten-1 white-text center"><h3><i class="fa fa-envelope"></i> {% trans "Confirm Email" %}</h3> </legend>
    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
    {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn waves-effect blue-grey lighten-1 right" type="submit">{% trans "Sign Up" %} </button>
    </form>
  </fieldset>
</div>
{% endblock %}
