{% extends "base.html" %}

{% load staticfiles %}
{% load account socialaccount %}
{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container section">
    <div class="row">
        <div class=" col s12 m10 l8 offset-m1 offset-l2">
    <fieldset class="white z-depth-2 auth_all">
        <legend class="blue-grey lighten-1 white-text center"><h3><i class="fa fa-user-circle"></i> Log In </h3> </legend>
          {% get_providers as socialaccount_providers %}
{% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">
    <div class="row center">
        <div class="col s12 m5 ">
            <a href='{% provider_login_url "google" method="oauth" %}' class="btn red "> <i class="fa fa-google"></i> Google </a>
        </div>

        <div class="col s12 m5 " style="padding-top: 5px" >
            <a href='{% provider_login_url "facebook" method="oauth2" %}' class="btn blue darken-3"> <i class="fa fa-facebook"></i> Facebook </a>
        </div>
    </div>
    <div class="login-or"></div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %} <!-- help for django allauth https://techstricks.com/django-allauth-tutorial-access-extra-data/ and http://www.sarahhagstrom.com/2013/09/the-missing-django-allauth-tutorial/#Style_the_login_and_registration_templates -->
        <p class="red-text">{{ form.non_field_errors }}</p>
        <p class="red-text">{{ form.login.errors }}</p>
        <p class="red-text">{{ form.password.errors }}</p>
<br>

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
                <div>
                    <label for="id_login">E-mail:</label>
                    <input type="email" name="login" id="id_login" required placeholder="E-mail address" autofocus="autofocus" />
                </div>
                <div>
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" id="id_password" placeholder="Password" required />
                </div>
                <div class="row ">
                    <input type="checkbox" name="remember" id="id_remember" />
                    <label for="id_remember">Remember Me:</label>
                </div>


            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn right waves-effect blue-grey lighten-1 primaryAction" type="submit">{% trans "Log In" %}</button>
          </form>
      </fieldset>
        </div>
    </div>
</div>
{% endblock %}
