{% extends "base.html" %}
{% load staticfiles %}
{% load account socialaccount %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container section">
    <div class="row">
        <div class=" col s12 m10 l8 offset-m1 offset-l2">
            <fieldset class="white z-depth-2 auth_all">
  <legend class="blue-grey lighten-1 white-text center"><h3><i class="fa fa-lock"></i> {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3> </legend>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input  class="btn waves-effect blue-grey lighten-1 right" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% if user.is_authenticated %}
                <p >Goto <a href="{% url 'homepg:homepage'%}" >Homepage</a></p>
            {% else %}
                <p >Goto <a href="{% url 'homepg:userprofile'%}" >Your Profile</a></p>
            {% endif %}
        {% endif %}
    {% endif %}
</fieldset>
        </div>
    </div>
</div>
{% endblock %}
