{% extends "base.html" %}
{% load staticfiles %}
{% load account socialaccount %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container section">
    <div class="container">
        <h3>{% trans "Change Password" %}</h3>
        <p>{% trans 'Your password is now changed.' %}</p>
        {% if user.is_authenticated %}
            <p >Goto <a href="{% url 'homepg:homepage'%}" >Homepage</a></p>
        {% else %}
            <p >Goto <a href="{% url 'homepg:userprofile'%}" >Your Profile</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
