{% extends "base.html" %}
{% load staticfiles %}
{% load account socialaccount %}
{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container section">
    <div class="row">
        <div class=" col s12 m10 l8 offset-m1 offset-l2">
        <fieldset class="white z-depth-2 auth_all">
          <legend class="blue-grey lighten-1 white-text center"><h3><i class="fa fa-lock"></i> {% trans "Set Password" %}</h3> </legend>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn waves-effect blue-grey lighten-1 right" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </fieldset>
        </div>
    </div>
</div>
{% endblock %}
