{% extends "base.html" %}

{% load staticfiles %}
{% load account socialaccount %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container section ">
    <div class="row">
        <div class=" col s12 m10 l8 offset-m1 offset-l2">
    <fieldset class="white z-depth-2 auth_all">
     <legend class="blue-grey lighten-1 white-text center"><h1><i class="fa fa-lock"></i> {% trans "Password Reset" %}</h1> </legend>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn right waves-effect blue-grey lighten-1 " type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
    <div class="row">
        <br><br>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    </fieldset>
        </div>
    </div>
</div>
        {% endblock %}
