{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Contact Us {% endblock title %}

{% block style %}
    <link href="{% static 'CSS/Core/Contact_Us/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock style %}

{% block content %}

<div class="section container ">

    <div class=" row">
        <div class="col s12 m6 offset-m3">

            <form  action="{% url 'homepg:contactus' %}" method="post" >{% csrf_token %}
                <fieldset class="white z-depth-2">
                    <legend class="blue-grey lighten-1 white-text center"><h3>Contact Us</h3> </legend>
                    <b class="red-text"> {{ message }} </b><br>
                    <div class="center">
                        <a href="http://m.me/afrikforall" class="btn blue darken-1 white-text "><i class="fa fa-comment "> </i> Contact us on Facebook</a>
                    </div>
                    <div class="input-field col s12">
                        <i class="fa fa-envelope fa-2x prefix grey-text "></i>
                        {%  if user.is_authenticated %}
                            <input id="email" value="{{ user.email }}" type="email" class="validate" name="email" required>
                            <label for="email" class="active">Your Email</label>
                        {% else %}
                            <input id="email" type="email" class="validate" name="email" required>
                            <label for="email">Your Email</label>
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        <i class="fa fa- fa-2x prefix grey-text "></i>
                        <input id="subject" type="text" class="validate" name="subject" required>
                        <label for="subject">Subject:</label>
                    </div>
                    <div class="input-field col s12 ">
                        <i class="fa fa-pencil fa-2x prefix grey-text"></i>
                        <textarea id="content" class="materialize-textarea" name="content" required></textarea>
                        <label for="content">Content</label>
                    </div>
                    <div class="row center">
                        <button class="btn waves-effect blue-grey lighten-1 center" type="submit" name="action">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

