{% extends "base.html" %}
{% load staticfiles %}
{% load ratings %}


{% block title %} TEFA: Concours{% endblock title %}

{% block style %}
    <link href="{% static 'css/Concours/Allcourses/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock style %}

{% block content %}
<div class="section container ">
    <div class=" black-text">
        <h2> Concours </h2>
    </div>
<h4 class="center" id="Second_Commerce"> Engineering Concours </h4>
    <div class="row">
        {% for concour in allengineer %}
            <div class="col s6 m4 l3">
                <a href="{% url 'Concours:engineeringcourses' school_id=concour.id %}" class="center black-text">
                <div class="card center">
                    <div class="card center">
                        <div class="card-image">
                            <img src="{{ concour.schoollogo.url }}" height="250">
                        <span class="card-title black-text "></span>
                        </div>
                        <div class="card-action">
                            <h5>{{ concour.schoolname}}</h5>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <br>


    <h4 class="center" id="Second_Commerce"> Medical Concours</h4>
    <div class="row">
        {% for concour in allmedical %}
            <div class="col s6 m4 l3">
                <a href="{% url 'Concours:medicalcourses' school_id=concour.id %}" class="center black-text">
                <div class="card center">
                    <div class="card center">
                        <div class="card-image">
                            <img src="{{ concour.schoollogo.url }}" height="250">
                        <span class="card-title black-text "></span>
                        </div> 
                        <div class="card-action">
                            <h5>{{ concour.schoolname}}</h5>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <br>

    <h4 class="center" id="Second_Science"> Science Concours</h4>
    <div class="row">
        {% for concour in allscience %}
            <div class="col s6 m4 l3">
                <a href="{% url 'Concours:sciencecourses' school_id=concour.id %}" class="center black-text">
                    <div class="card center">
                        <div class="card-image">
                            <img src="{{ concour.schoollogo.url }}" height="250">
                        <span class="card-title black-text "></span>
                        </div> 
                        <div class="card-action">
                            <h5>{{ concour.schoolname }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <br>

    <h4 class="center" id="Second_Arts"> Arts Concours </h4>
    <div class="row">
        {% for concour in allarts %}
        <div class="col s6 m4 l3">
            <a href="{% url 'Concours:artscourses' school_id=concour.id %}" class="center black-text">
                <div class="card center">
                    <div class="card center">
                        <div class="card-image">
                            <img src="{{ concour.schoollogo.url }}" height="250">
                        <span class="card-title black-text "></span>
                        </div> 
                        <div class="card-action">
                            <h5>{{ concour.schoolname }}</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
    <br>


</div>
{% endblock content %}