{% extends 'base.html' %}
{% load staticfiles %}

{% block style %} <link href="{% static 'css/Homepage/Privacy_Policy/Style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/> {% endblock style%}
{% block title %}About Us{% endblock title %}

{% block content %}

    <div class="container section">
        <div class="row">
            <br>
            <h3 class="grey-text text-darken-1 center "> About Us </h3>
            <p class="grey-text text-darken-4 center">
                Help Cameroonians to get the best type of education to develop and shape their society
            </p>
            <h5 class="grey-text text-darken-2 ">Our Mission:</h5>
        <div class="grey-text text-darken-4 ">
            <b><ol>
                <li> OUR MAIN MISSION IS TO REACH OUT TO EVERY CAMEROONIAN WHETHER RICH OR POOR,   YOUNG OR OLD WHO TASTE FOR KNOWLEDGE.
                </li>
                <li> TO HELP CAMEROONIANS WHO CAN’T GO TO SCHOOL, e.g. THE DISABLED,  HAWKERS, BUSINESS MEN AND WOMEN  ETC. WHO DO NOT HAVE TIME TO GO AND SIT IN A CLASS ROOM BUT ARE WILLING TO OBTAIN A GCE , A-LEVEL , BAC, PROBATOIRE ETC. CERTIFICATES (BY HELPING THEM REGISTER AS EXTERNAL STUDENTS IN OTHER SCHOOLS). ALSO THIS WILL HELP DOES WHO GO TO EVENING SCHOOLS.
                </li>
                <li> THIS WILL GIVE A BETTER APPROACH OF REASONING TO MOST CAMEROONIANS SINCE MOST OF THEM RELY ON WHAT TEACHERS GIVE THEM, IT WILL HELP THEM  DO EXTRA RESEARCH USING MODERN  COMMUNICTION DEVICES THAT SURROUNDS THEM.
                </li>
            </ol>
            </b>
        </div>
            <h5 class="grey-text text-darken-2" >Our story </h5>
            <p>
                Founded by two Cameroonians <b> WIRNDZEREM BLAISE FONYUY </b> and <b> YUYEN KINIBEN TANLAKA </b>in 2016. And TEFA is an online learning platform based on the MOOC architecture. It offers the best and high quality standard courses by the best Schools in the nation given by the best teachers that we can have in Cameroon.
                 Our  Learning Community

                 All Cameroons starting from the Secondary level right up to the university level. Interested to learn any course based on the Cameroonian standards.
                Our Difference

                Our main difference is that we help our community or our students archive Cameroonian based certificates which is very different from other MOOC platforms. We don’t want knowledge that can’t be applied to our mother land Cameroon.
                Moreover we are completely free with what we do.

            </p>
        </div>
    </div>
{% endblock content %}