{% extends "base.html" %}
{% load staticfiles %}

{% block title %} TEFA: Create Password {% endblock title %}

{% block style %}
    <link href="{% static 'CSS/Core/UserProfile/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock style %}

{% block content %}
<div class="container section">
    <fieldset class="white z-depth-2 auth_all">
        <legend class="blue-grey lighten-1 white-text center"><h3><i class="fa fa-lock"></i> Password</h3> </legend>
    <form method="POST" action="{% url 'homepg:createpassword' user_id=user.id %}" class="password_change">{% csrf_token %}
                    {% if messages %}
                    <ul class="messagelist ">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}><p class="center">{{ message }}</p></li>
                        {% endfor %}
                    </ul>
                {% endif %}

            <div class="input-field col s12 ">
                <i class="fa fa-lock fa-2x prefix grey-text"></i>
                <input id="password" type="password" class="validate" name="password" placeholder="Enter password " required>
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12 ">
                <i class="fa fa-lock fa-2x prefix grey-text"></i>
                <input id="password1" type="password" class="validate" name="password1" placeholder="Enter password again" required>
                <label for="password1">Renter Password</label>
            </div>
        <button class="btn right waves-effect blue-grey lighten-1 " type="submit" name="action">Submit</button>
    </form>
    </fieldset>
</div>
{% endblock %}