{% extends "base.html" %}
{% load staticfiles %}
{% load ratings %}


{% block title %} TEFA: Engineering Concours {% endblock title %}

{% block style %}
    <link href="{% static 'css/Concours/Engineering/Style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock style %}

{% block content %}
    <div class="section container ">
    <div class=" black-text">
        <h2> Engineering Concours </h2>
    </div>
    <div class="row">
        {% for concour in allengineering %}
            <div class="col s6 m4 l3">
                <a href="{% url 'Concours:engineeringcourses' school_id=concour.id %}" class="center black-text">
                    <div class="card center" >
                        <div class="card-image">
                            <img src="{{ concour.schoollogo.url }}" height="250">
                            <span class="card-title black-text "></span>
                        </div>
                        <div class="card-action">
                            <h5 class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{ concour.schoolname }}">{{ concour.schoolname|truncatechars:20 }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="row">
        <div class="pagination center">
            <span class="step-links">
                {% if allengineering.has_previous  %}
                    <a href="?page={{ allengineering.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ allengineering.number}} of {{ allengineering.paginator.num_pages}}
                </span>
                {% if allengineering.has_next  %}
                    <a href="?page={{ allengineering.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{%  endblock content %}