{% extends "base.html" %}
{% load staticfiles %}
{% load ratings %}


{% block title %} TEFA: Concours Science Courses{% endblock title %}

{% block style %}
    <link href="{% static 'css/Concours/Sciencecourses/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock style %}

{% block content %}
    <div class="section container ">
    <div class=" black-text">
        <h2> {{ concour.schoolname|capfirst }} Courses </h2>
    </div>
    <div class="row">
        {% for course in allmedical %}
            <div class="col s6 m4 l3">
            {% if user.is_authenticated %}
                <a href="{% url 'Concours:selectedmedicalcourse' course_id=course.coursename.id user_id=user.id school_id=concour.id %}" class="center black-text">
            {% else %}
                <a href="{% url 'Concours:selectedmedicalcourse' course_id=course.coursename.id user_id=0 school_id=concour.id %}" class="center black-text">
            {% endif %}
                    <div class="card center">
                        <div class="card-image">
                            <img src="{{ course.coursename.courselogo.url }}" height="250">
                        <span class="card-title black-text "> </span>
                        </div>{% ratings course %}
                        <div class="card-action">
                            <h5 class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{ course.coursename }}">{{ course.coursename|truncatechars:20 }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="row ">
        <div class="pagination center">
            <span class="step-links">
                {% if allmedical.has_previous  %}
                    <a href="?page={{ allmedical.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ allmedical.number}} of {{ allmedical.paginator.num_pages}}
                </span>
                {% if allmedical.has_next  %}
                    <a href="?page={{ allmedical.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{%  endblock content %}