{% load staticfiles %}
{% load latexify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %} {% endblock title %}</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'Img/logo1.png' %}" rel="shortcut icon" type="image/png"/>
    <link href="{% static 'css/video-js.css' %}" rel="stylesheet">
    <link href="{% static 'css/videojs-resolution-switcher.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    {% include 'latexify/stylesheets.html' %}
    {% block style %} {% endblock style %}
</head>

<body style=" display: flex; min-height: 100vh; flex-direction: column;"><!-- style for sticky footer-->
<div class="navbar" style="z-index: 999; ">
    <nav class=" blue-grey darken-1" role="navigation" >

    {% if user.is_authenticated %}
        <ul id="dropdown_settings" class="dropdown-content blue-grey lighten-1">
            <li><a href="{% url 'homepg:logout' %}" class="waves-effect white-text">LogOut</a></li>
            <li><a href="{% url 'homepg:userprofile' %}" class="waves-effect white-text">Profile</a></li>
            <li><a href="{% url 'homepg:usercourses' user_id=user.id %}" class="waves-effect white-text">My Courses</a>
            </li>
        </ul>
    {% endif %}

    <!--- End of nav bar drop menu-->

    <div class="nav-wrapper blue-grey darken-1">
        <!-- Here is the logo -->
        <a id="logo-container" href="{% url 'homepg:homepage' %}" class="brand-logo left "><img
                src="{% static 'Img/logo.png' %}" alt="TEFA logo" id="idlogo"/></a>
        <ul class="right">
            <li>
                <!-- Here is the Navigation bar -->
                <ul class="hide-on-med-and-down">
                    <li><a class="waves-effect waves-light" href="{% url 'homepg:homepage' %}"><b>Home</b></a></li>
                    <li><a class="waves-effect waves-light" href="{% url 'Concours:engineeringconcours' %}"><b
                            class="white-text">Engineering</b></a></li>
                    <li><a class="waves-effect waves-light" href="{% url 'Concours:medicalconcours' %}"><b>Medicals</b></a>
                    </li>
                    <li><a class="waves-effect waves-light" href="{% url 'Concours:artsconcours' %}"><b
                            class="white-text">Arts</b></a></li>
                    <li><a class="waves-effect waves-light" href="{% url 'Concours:scienceconcours' %}"><b
                            class="white-text">Science</b></a></li>
                    <li><a class="waves-effect waves-light" href="{% url 'homepg:aboutus' %}"><b>About Us</b></a></li>
                    {% if  request.user.is_authenticated %}
                        <li><a class="dropdown-button waves-effect waves-light"
                               data-activates="dropdown_settings"><b>{{ user.username|capfirst }}</b><i
                                class="fa fa-angle-down right"></i></a></li>
                    {% endif %}
                    <li><a class="waves-effect waves-light" href="{% url 'homepg:donate' %}"><b class="white-text">Donate</b></a>
                    </li>

                </ul>
            </li>
            <li>
                <!-- Here is the search bar-->
                <ul>
                    <li>
                        <form action="{% url 'homepg:search' %}" method="get">
                            <div class="input-field z-depth-5" style="z-index: 999">
                                <input id="search" type="search" required="required" class="searchbar"
                                       placeholder="search" name="q">
                                <label for="search"><i class="fa fa-search searchicon "></i></label>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Here is the Side Navigation bar-->
        <ul id="nav-mobile" class="side-nav blue-grey">

            <li>
                <div class="userView">

                    <div class="background">
                        <img src="{% static 'Img/profilebackground.png' %}">
                    </div>
                    {% if user.is_authenticated %}
                        {% if user.userprofile.userpic %}
                            <div class="row">
                                <img src="{{ user.userprofile.userpic.url }}" class="center circle responsive-img "
                                     alt="profile picture">
                            </div>
                        {% else %}
                            <div class="row center ">
                                <i class="fa fa-user-circle-o fa-4x prefix white-text center"></i>
                            </div>
                        {% endif %}

                        <b class="white-text"> Welcome {{ user.username|capfirst }} </b>
                        <div class="row">
                            <div class="col s12 right">
                                <a href="{% url 'homepg:logout' %}"><b class="white-text">LogOut</b> </a>
                            </div>
                        </div>
                    {% else %}
                        <i class="fa fa-user-circle-o fa-4x white-text"></i>
                        <div class="row">
                            <div class="center">
                                <a href="{% url 'account_signup' %}"><b class="white-text"> Sign Up </b></a>
                                <a href="{% url 'account_login' %}"><b class="white-text"> Log In </b> </a>
                            </div>
                        </div>
                    {% endif %}
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="waves-effect waves-light" href="{% url 'homepg:homepage' %}"><b
                    class="white-text">Home</b></a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a href="{% url 'Concours:engineeringconcours' %}"
                           class="collapsible-header waves-effect waves-light"><b class="white-text">Engineering</b></a>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a href="{% url 'Concours:medicalconcours' %}"
                           class="collapsible-header waves-effect waves-light"><b class="white-text">Medical</b></a>
                    </li>
                </ul>
            </li>

            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a href="{% url 'Concours:artsconcours' %}" class="collapsible-header waves-effect waves-light"><b
                                class="white-text">Arts</b></a>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a href="{% url 'Concours:scienceconcours' %}"
                           class="collapsible-header waves-effect waves-light"><b class="white-text">Science</b></a>
                    </li>
                </ul>
            </li>

            {% if user.is_authenticated %}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect waves-light"><b
                                    class="white-text">{{ user.username|capfirst }}</b><i
                                    class="fa fa-angle-down right white-text"></i></a>
                            <div class="collapsible-body">
                                <ul class="blue-grey lighten-1">
                                    <li><a href="{% url 'homepg:userprofile' %}"
                                           class="waves-effect white-text">Profile</a></li>
                                    <li><a href="{% url 'homepg:usercourses' user_id=user.id %}"
                                           class="waves-effect white-text">My Courses</a></li>
                                    <li><a href="{% url 'homepg:logout'%}"
                                           class="waves-effect white-text">Log Out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li><a class="waves-effect waves-light" href="{% url 'homepg:aboutus' %}"><b class="white-text">About Us</b></a>
            </li>
            <li><a class="waves-effect waves-light" href="{% url 'homepg:donate' %}"><b
                    class="white-text">Donate</b></a></li>
         <li><a class="waves-effect waves-light" ><b class="white-text"></b></a>
            </li> <li><a class="waves-effect waves-light" ><b class="white-text"></b></a>
            </li>
        </ul>
        <a data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars"></i></a>

    </div>
</nav>
</div>
<div class="fixed-action-btn">
    <a href="#logo-container" class=" right btn-floating btn-large waves-effect waves-light blue-grey"
       style="position: fixed; right: 2%; bottom: 2%;"><i class="fa fa-arrow-up"></i></a>
</div>
<main style="flex: 1 0 auto; ">

    {% block content %}  <!-- this is where the various contents of each page wil be inputted -->

    {% endblock %}
</main>

<footer class="page-footer  blue-grey darken-3 center">
    <div class="container section blue-grey darken-3">
        <div class="row">
            <div class="col s6 m5">
                <a href="{% url 'homepg:homepage' %}" class="grey-text brand-logo"><img
                        src="{% static 'Img/logo.png' %}" alt="TEFA logo" class="logo"/><h5>Targeted Education For
                    All </h5></a>
                <br>
                {% if  request.user.is_authenticated %}
                    <a href="{% url 'homepg:donate' %}"
                       class=" btn waves-effect waves-light blue-grey accent-4 z-depth-4 ">Donate</a>
                    <a href="{% url 'homepg:logout' %}"
                       class="btn waves-effect waves-light blue-grey accent-4 z-depth-4">Log Out</a>
                {% else %}
                    <a href="{% url 'account_login' %}"
                       class="btn waves-effect waves-light blue-grey accent-4 z-depth-4">LogIn</a>
                    <a href="{% url 'homepg:donate' %}"
                       class=" btn waves-effect waves-light blue-grey accent-4 z-depth-4 ">Donate</a>
                    <a href="{% url 'account_signup' %}"
                       class="btn waves-effect waves-light blue-grey accent-4 z-depth-4 center">Register</a>
                {% endif %}
            </div>
            <div class="gfti col s6 m5 center-align">
                <h5 class="grey-text text-lighten-4">Follow Us</h5>
                <ul>
                    <li><a href="http://fb.me/afrikforall" target="_blank" class="grey-text"> <i
                            class="fa fa-facebook-official fa-3x"></i></a></li>
                    <li><a href="https://plus.google.com/" target="_blank" class="grey-text"> <i
                            class="fa fa-google-plus-square fa-3x"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank" class="grey-text"> <i
                            class="fa fa-twitter-square fa-3x"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank" class="grey-text"> <i
                            class="fa fa-instagram fa-3x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row center blue-grey darken-3">
    <div class="gfti col s12 blue-grey darken-3 ">
        <ul>
            <li><b> <a class="waves-effect waves-light grey-text" href="{% url 'homepg:homepage' %}"> Home </a></b>
            </li>
            <li><b> <a class="waves-effect waves-light grey-text" href="{% url 'homepg:contactus' %}"> Contact
                Us </a></b></li>
            <li><b> <a class="waves-effect waves-light grey-text" href="{% url 'homepg:aboutus' %}"> About
                Us </a></b></li>
            <li><b> <a class="waves-effect waves-light grey-text" href="{% url 'homepg:privacy_policies' %}">
                Privacy & Policies</a></b></li>
        </ul>
    </div>

    <div class="footer-copyright blue-grey darken-4">
        <div class="">
            <p class=" center light grey-text">&copy;2016 Targeted Education For All</p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/js.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>

<script>
    videojs.options.flash.swf = "{% static 'js/video-js.swf' %}"
</script>
<script src="{% static 'js/videojs-resolution-switcher.js' %}"></script>

<script>
    videojs('main_video').videoJsResolutionSwitcher()
</script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% include "latexify/scripts.html" %}
</body>
</html>